#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body, html {
  background: url("src/assets/Embers_of_Neltharion_Key_Art_4K_original.png") no-repeat center center fixed;
  background-size: cover;
  background-position: fixed;
}


ul {
  text-align:center;
  padding-right: 2rem;
  list-style-type: none;
}

li {
  text-decoration-line: underline;
}
