#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("src/assets/Embers_of_Neltharion_Key_Art_4K_original.png");
  
  background-size: cover;
  background-position: 100%;
}
ul {
  text-align:center;
  padding-right: 2rem;
  list-style-type: none;
}

li {
  text-decoration-line: underline;
}
